.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.todoTitle{
    text-align: center;
    margin-left: 10%;
    inline-size: 40vw;
    min-width: 40vw;
    overflow-wrap: break-word;
}

.todoTitle.complete{
    color: var(--green);
    text-decoration: line-through black solid 1px;
}

.todoActions{
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.todoActions > .todoBtn {
    margin-left: 15px;
    width: 50px;
    height: 34px;
}

.todoBtn.withIcon{
    background-color: transparent;
    color: var(--white);
    transform: scale(1.1);
    margin-bottom: 15px;
}

.todoBtn.withIcon:hover{
    filter: invert(.2) brightness(0.8);
    transition: filter .1s linear;
}

.todoBtn.status{
    width: fit-content;
    background-color: var(--yellow);
    color: var(--white);
} 

.todoBtn.status:hover{
    background-color: var(--status-button-hover);
    transition: background-color 0.2s ease;
}

.todoBtn.status.complete{
    background-color: var(--green);
    color: var(--white);
} 

.todoBtn.status.complete:hover{
    background-color: var(--status-complete-button-hover);
    transition: background-color 0.2s ease;
}
