.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.todoTitle{
    inline-size: 50vw;
    overflow-wrap: break-word;
}

.todoActions{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.todoActions > .todoBtn {
    margin-left: 15px;
    width: 50px;
    height: 34px;
}

.todoBtn.delete{
    background-color: var(--red);
    color: var(--white);
}

.todoBtn.delete:hover{
    background-color: var(--delete-button-hover);
    transition: background-color 0.2s ease;
}

.todoBtn.edit{
    background-color: var(--black);
    color: var(--white);
}

.todoBtn.edit:hover{
    background-color: var(--edit-button-hover);
    transition: background-color 0.2s ease;
}

.todoBtn.status{
    background-color: var(--green);
    color: var(--white);
} 

.todoBtn.status:hover{
    background-color: var(--status-button-hover);
    transition: background-color 0.2s ease;
}