.appContainer {
    height: 100%;
    width: 100%;
    background-color:  var(--white);
    border: 2px solid var(--white);
    border-radius: 30px;
    box-shadow: white 0px 2px 8px 0px;
}

.todoAppHeader{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.todoAppTitle{
    color: var(--blue);
    font-weight: bold;
    font-size: 30px;
    padding: 9px;
}

.todoCreation{
    display: flex;
    justify-content: space-between;
}

.todoInput.create:focus {
    border-color: var(--blue);
}

.todoBtn.create{
    background-color: var(--blue);
    color: var(--white);
}

.todoBtn.create:hover{
    background-color: var(--create-button-hover);
    transition: background-color 0.2s ease;
}

.todosContainer{
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow: auto;
    height: calc(71vh - 10px );
    scroll-behavior: smooth;
}

.todos{
    width: 90%;
    font-size: 20px;
}

@media (min-width:481px)  { 
    .App{
        width: calc(93vw - 10px);
        height: calc(99vh - 10px);
        margin-left: 2.5vw;
    }
}
@media (min-width:961px) {
    .App{
        width: calc(90vw - 10px);
        height: calc(99vh - 10px);
        margin-left: 5vw;
    }
}