:root{
    --white: #ffffff;
    --grey: #dedede;
    --blue: #0a4fa4;
    --black: #020812;
    --yellow: #face0c;
    --red: red;
    --green: green;
    --create-button-hover: #337cd5;
    --delete-button-hover: rgb(233, 76, 76);
    --edit-button-hover: rgb(53, 51, 51);
    --status-button-hover: #ffe366; 
    --status-complete-button-hover: rgb(70, 165, 70); 
}

body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #141e30, #243b55);
    overflow: hidden;
    font-size: 16px;
}

.App{
    margin-top: 0;
    font-size: 15px;
    width: calc(90vw - 10px);
    height: calc(99vh - 10px);
    margin-left: 5vw;
}
